* {
    padding: 0; 
    margin: 0;
    box-sizing: border-box; 
}
.contanier { 
    width: 200px; 
    font-size: 13px;
    .tab_ul { 
        display: flex; 
        height: 30px;
        background-color: rgba(238,238,238,.5); 
        list-style: none; 
        border-bottom-color: #999;
        border-bottom-width: 2px;
        .tab_li {   
            flex: 1;
            height: 30px;
            line-height: 30px;
            text-align: center;
        }
        .current {   
            color: #fff;
            font-size: 14px;
        }
        .hover { 
            border-color: rgba(56, 165, 197,.5);
        }
    }
    .content {      
        height: 200px;
        background-color: #eee;
        overflow-y: auto; 
        .content_ul {
            padding: 10px;
            .item_li {
                height: 40px;
                line-height: 40px;
            }
        }
    }
}